<footer class="bt-footer">
    <div class="bt-footer__container">
        <div class="bt-footer__content--menu">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Regulamin wydarzeń</a></li>
                <li class="list-inline-item"><a href="#">Polityka prywatności</a></li>
                <li class="list-inline-item"><a href="#">O nas</a></li>
                <li class="list-inline-item"><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <i class="bt-footer__content--logo"></i>
        <div class="bt-footer__content--copyright">
            © 2018 Fundacja BT, Wszelkie prawa zastrzeżone.
            <div class="bt-footer__content--copyright-small">
                Made with ♥ in Tricity
            </div>
        </div>
    </div>
</footer>