<nav class="navbar navbar-expand-sm navbar-dark bt-navy-blue">
    <div class="collapse navbar-collapse bt-navbar__collapse" id="collapsibleNavId">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Wydarzenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rejestracja</a>
            </li>
        </ul>
        <a class="navbar-brand" href="#"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Kim jesteśmy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
            </li>
        </ul>
    </div>
    <div class="bt-navbar__collapse sm-down-only">
        <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#collapsibleNavId"></a>
    </div>
</nav>
