@import '~mdbootstrap/sass/mdb/free/data/_mixins.scss';

// Color palette
$c-1: #1C375C;
$c-2: #6F3388;
$c-3: #F47193;
$c-4: #101820;
$c-5: #D0D0CE;

$bt-colors: (
    "navy-blue": $c-4,    
    "blue" : $c-1,
    "purple": $c-2,
    "pink": $c-3,
    "grey": $c-5,
);

// Default color
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  $c-2;
$pink:    $c-3;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Set variable overrides
$body-bg: #f5f5f5;

$theme-colors: (
    primary: $c-1,
    secondary: $c-2,
    success: $green,
    info: $c-3,
    warning: $yellow,
    danger: $red,
    light: $c-5,
    dark: $c-4
);


@each $color, $color_value in $bt-colors {
    .bt-#{$color} {
        background-color: $color_value !important;
    }
    .bt-#{$color}-text {
        color: $color_value !important;
    }
    @include make-button("bt-" + $color, $color_value);
    @include make-outline-button("bt-" + $color, $color_value);
}

// Fonts
$font-family-sans-serif: "Gigole", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$font-family-secondary-sans-serif: "Helvetica Neue", "Open Sans", sans-serif;
