// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@font-face {
    font-family: 'Gidole';
    src:url('../gidole/Gidole-Regular.ttf.woff') format('woff'),
        url('../gidole/Gidole-Regular.ttf.svg#Gidole-Regular') format('svg'),
        url('../gidole/Gidole-Regular.ttf.eot'),
        url('../gidole/Gidole-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@import "_variables.scss";

@import "~bootstrap/scss/bootstrap.scss";
@import "~mdbootstrap/sass/mdb.scss";


$bheads: (
    1: 2.7rem,
    4: 1.4rem
);

@each $i, $size in $bheads {
    .bhead-#{$i} {
        font: bold $size $font-family-secondary-sans-serif;
        text-transform: uppercase;
    }
}

@mixin mdshadow() {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19);    
}

.btn-rounded {
    border-radius: 10em
}

[class*="btn-bt-"].btn-lg {
    font: bold 14px $font-family-secondary-sans-serif;
    text-transform: uppercase;
    padding: 1.5em 2em;    
}

@import "_helpers.scss";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-family-sans-serif;
}

[type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden
}

[type=radio]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: .28s ease;
    transition: .28s ease
}

[type=radio]+label:after,[type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: .28s ease;
    transition: .28s ease
}

[type=radio]:not(:checked)+label:after,[type=radio]:not(:checked)+label:before {
    border-color: #5a5a5a
}

[type=radio]:not(:checked)+label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

[type=radio]:checked+label:before {
    border-color: transparent
}

[type=radio]:checked+label:after {
    border-color: #4285F4;
    background-color: #4285F4;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02)
}

[type=radio]:disabled+label {
    color: rgba(0,0,0,.46)
}

[type=radio]:disabled+label:before {
    background-color: transparent;
    border-color: rgba(0,0,0,.46)
}

[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0,0,0,.46)
}

[type=radio]:disabled:checked+label:after {
    background-color: rgba(0,0,0,.46);
    border-color: #BDBDBD
}

[type=radio].with-gap:checked+label:before {
    border-color: #4285F4
}

[type=radio].with-gap:checked+label:after {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}

[type=radio].with-gap:checked:disabled+label:before {
    border-color: rgba(0,0,0,.46)
}


.bt {
    &__container {

        &--mini {
            @extend .container;
            max-width: 820px;
        }

    }
}

.bt-title {
    @extend .text-center;

    margin-bottom: 5em;

    &__head {
        padding-top: 1em;        
        margin-bottom: 1em;
    }

    &__lead {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }
}

.bt-navbar {
    &__collapse {
        justify-content: center;

        &.sm-down-only > .navbar-brand {
            display: none;
        }
        @include media-breakpoint-down(xs) {
            &.sm-down-only {
                width: 100%;
                > .navbar-brand {
                    display: inline-block;                    
                    left: calc(50% - 57px);
                }
            }
        }

        > .navbar-brand {
            margin: 0 20px;
            position: relative;
            width: 57px;
            height: 50px;

            @include media-breakpoint-down(xs) {
                display: none;
            }

            &::after {
                content: ' ';
                display: block;
                position: absolute;
                top: 10px;
                width: 57px;
                height: 50px;
                background: $c-4 url('../images/logo.png') no-repeat;
                z-index: 3;
            }

            &::before {
                @include triangle-gen(bottom, $c-4, 3em);
                border-top-width: 1.5em;
                position: absolute;
                bottom: calc( -100% + 12px);
                left: calc( -50% + 0px);
            }
            
        }

    }
}


.bt-heading {

    &__video {
        width: 100%;
        object-fit: cover;
    }

    &__timeleft {
        padding: 36px 46px;
        max-width: 820px;
        min-height: 256px;
        background: #fff;
        @include mdshadow();
        margin: 0 auto;
        top: -128px;
        position: relative;

        @include media-breakpoint-down(sm) {
            top: 0
        }
    }

}

.bt-drive {
    margin-bottom: 3.5em;
    
    &__card {
        margin: 15px auto;
        background: $white;
        min-height: 428px;
        max-width: 438px;
        @include mdshadow();

        &--map {
            display: flex;
            flex-flow: column;
        }

        &--form {
            padding: 1.7em 2.3em;
        }
    }

    &__form {
        margin-top: 1.5em;
        margin-bottom: 3em;

        .form-group {
            margin-bottom: 0;
        }
    }
}
#bt-drive__map {
    display: flex;
    flex: 1;
}

.bt-footer {
    min-height: 299px;
    background-color: #ffffff;
    padding: 50px 0;

    &__container {
        text-align: center;
    }

    &__content {

        &--menu,
        &--menu a {
            color: #101820;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 45px;
        }

        &--logo {
            display: block;
            width: 215px;
            height: 63px;
            background: url('../images/logo_footer.png') no-repeat;
            margin: 0 auto;
        }

        &--copyright {
            margin-top: 37px;
            color: #484848;
            font-family: $font-family-sans-serif;;
            font-size: 16px;
            font-weight: 400;

            &-small {
                margin: 0 auto;
                display: block;
                font-size: 15px;
            }
        }
    }
}
