<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>V Twilightmeet</title>
</head>

<body onload="onLoad()">
   <%- include components/head %>
   <div class="bt-heading">
        <video src="static/videos/heading.mp4" autoplay loop poster="static/videos/heading_static.png" class="bt-heading__video d-none d-md-block"></video>
        <div class="bt-heading__timeleft">

            <div class="row">
                <div class="col-md-8">
                    <h1 class="bhead-1">Start wydarzenia</h1>
                    <p class="lead">
                        Tu będzie jakiś ładny tekst, ale jestem leniwym bolakiem i nie chce mi się go wymyślać. Arka Gdynia Kurwa Świnia
                    </p>
                </div>
                <div class="col-md-4 align-self-center">
                    <button class="btn btn-bt-pink btn-rounded btn-lg btn-block">Przypomnij przed</button>
                </div>
            </div>
        </div> 
   </div>

   <div class="bt__container--mini">
        <div class="bt-title">
            <h1 class="bt-title__head bhead-1">V Twilightmeet</h1>
            <p class="bt-title__lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula justo non dignissim placerat. 
                Morbi tristique tincidunt augue, a blandit risus vestibulum non. Nulla leo sapien, lacinia ut iaculis eget, dictum consectetur metus. 
                Vivamus iaculis, mi in sodales tincidunt, sem turpis pretium erat, vitae euismod diam nulla sed turpis.
            </p>
        </div>
   </div>

   <div class="bt__container--mini">
        <div class="bt-title">
            <h1 class="bt-title__head bhead-1">Jak dojechać?</h1>
        </div>
   </div>

   <div class="container bt-drive">
       <div class="row">
           <div class="col-md-6">
               <div class="bt-drive__card bt-drive__card--map">
                    <div id="bt-drive__map"></div>                    
               </div>
           </div>
           <div class="col-md-6">
               <div class="bt-drive__card bt-drive__card--form">
                   <h4 class="bhead-4 bt-purple-text">Pokaz dojazd</h4>
                   <div class="md-form bt-drive__form">
                        <div class="form-group">
                            <input type="text" name="drive[from]" onFocus="geolocate()" id="bt-drive-form__from" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="radio" name="drive[transport]" value="DRIVING" id="bt-drive-form__transport--car">
                            <label for="bt-drive-form__transport--car">Samochodem</label>                            
                        </div>
                        <div class="form-group">
                            <input type="radio" name="drive[transport]" value="BICYCLING" id="bt-drive-form__transport--bike">
                            <label for="bt-drive-form__transport--bike">Rowerem</label>                            
                        </div>
                        <div class="form-group">
                            <input type="radio" name="drive[transport]" value="TRANSIT" id="bt-drive-form__transport--public">
                            <label for="bt-drive-form__transport--public">Komunikacja miejska</label>                            
                        </div>
                    </div>

                    <button onclick="findAddress()" class="btn btn-bt-purple btn-rounded btn-lg btn-block">Pokaz dojazd</button>                    
               </div>
           </div>
       </div>
   </div>
   <%- include components/footer %>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrlmk7B8HaPJEsB4E19ZwNrT3Yq3EZEX8&libraries=places&callback=initAutocomplete"></script>   
</html>